{$PUBLIC_DOMAIN} {
    encode zstd gzip

    @backend path /api/* /static/* /docs* /redoc* /schema*
    reverse_proxy @backend backend:8000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }

    reverse_proxy frontend:80
}
